.page {
  height: 100vh;
  position: relative;
}

// showreel
.show-reel__wrap {
  .show-reel__title {
    position: absolute;
  }

  .show-reel__list {
    display: flex;
    position: relative;
    height: 100vh;
    overflow: hidden;
    .show-reel__list__item {
      flex-grow: 1;
    }
    .show-reel__link {
      position: relative;
      z-index: 10000;
      display: block;
      width: 100%;
      height: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: transparent;
      border: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
      outline: none;
    }
  }
}
