.page {
  height: 100vh;
  position: relative;
  :first-of-type {
    background-color: beige;
  }
  &:nth-of-type(2) {
    background-color: #d8a9a9;
  }
  &:nth-of-type(3) {
    background-color: #d5f5ab;
  }
  &:last-of-type {
    background-color: rgb(122, 207, 211);
  }
}

// /* 애니메이션 클래스 */
// .reveal-on-scroll {
//   opacity: 0;
//   transition: opacity 1s ease-out, transform 1s ease-out;
// }

// .reveal-on-scroll__slide {
//   transform: translateY(20px);
// }

// .reveal-on-scroll__revealed {
//   opacity: 1;
//   transform: translateY(0);
// }
